---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Scheme colors
$my-orange: #cd8135;
$my-blue: #1f4e7d;
$link-blue: #1a6969;
$my-purple: #7d1f7d;
$my-green: #4e7d1f;
$my-brown: #7d4e1f;
$my-orange: #ed8e2e;
$my-red: #ec2222;

$text-color: #000000;
$background-color: #fdfdfd;
$brand-color:      $my-brown;
$site-title-color: #a66829;
$link-color:      $link-blue;

$grey-color: #cfcfcf;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-medium-light: #bdbdbd;
$grey-color-dark:  darken($grey-color, 25%);

$h1-color: $my-purple;
$h2-color: $my-brown;
$h3-color: $my-blue;

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "plants-k-means"
;
